/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  --primary: #1E4459;
  --secondary: #1861AC;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.main-content {
  padding-top: 56px;
}

.bg-custom {
  background-color: var(--primary);
}

.fas.fa-spider {
  font-size: 30px;
}

.meaning-card {
  background-color: #1E4459;
  padding: 50px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#btn-reveal {
  background-color: #1E4459;
  color: white;
  font-size: 16px;
  padding: 20px 65px;
  margin-top: 50px;
}

.btn-hint {
  color: #47525E;
  font-size: 25px;
  border: none;
  background-color: rgba(90, 105, 120, 0);
}

#hint-panel {
  display: none;
}

#carouselIndicators {
  display: none;
}

.word-list {
  width: 22%;
  margin: 16px;
}

.btn-decision {
  background-color: white;
  font-size: 50px;
  border: none;
  margin: 5px;
}

.decision-btn-row {
  display: flex;
  justify-content: center;
}

#wordCardPlaceholder {
  min-height: 300px;
}
