@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center container-home">
        <img class="logo-page" src="~/icons/logo.svg" />
        <div class="home-content">
            Core gives you access to handpicked programming problems to get you ready for competitive programming. Get started
            right now. What are your waiting for?
        </div>
        <div>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Signup">Signup</a>
            <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">Login</a>
        </div>

    </div>
