@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/CreateRoom" class="btn btn-info">Create A Room</a>
    <a href="/CreateRoom" class="btn btn-info">Join Room</a>
</div>
