@{
    ViewData["Title"] = "Login";
}

@model Core.Models.User;

    <div class="container-login">
        <img class="logo-page" src="~/icons/logo.svg" />
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserId" placeholder="Username" class="form-control input-signup-login" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" placeholder="Password" class="form-control input-signup-login" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Signup">Create an account</a>
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}